

div.encabezado {text-align: center}
.center {  text-align: center}
.alphalist {  list-style-type: upper-alpha}
.codelist {  }

body {
  padding: 2em 1em 2em 70px;
  margin: 0;
  font: small-caps 100% sans-serif; 
  color: #660099;    
  background: #FFFFFF; 
  <!--background: #EEEEEE;  --> 
  background-position: top left;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h1, h2, h3 {text-align: center }
h4, h5, h6 { text-align: left }
h1, h2, h3, h5 { color: #005A9C; }
h1 { font: 200% sans-serif }
h2 { font: 140% sans-serif}
h3 { font: small-caps 120% sans-serif;
     color: black;}
h4 { font:  100% sans-serif;
     color: black;  }     
h6 { font:  120% sans-serif;
     color: black;}
h5 { font: 130% monospace;
     background: black;   
     color: #47e457;}



body {
<!--  background-image: url(x.jpg); -->
} 





